<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
    <script src="https://kit.fontawesome.com/966d575446.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="home">
    <header class="home__header">
        <div class="home__header__img--logo img">
            <img class="home__header" src="/img/logo.jpg" alt="logo">
        </div>
        <a class="home__header__a--bars" href=""><i class="fas fa-bars"></i></a>
        <nav class="home__header__nav--menu">
            <ul class="home__header__nav__ul">
                <li><a href="/">home</a></li>
                <li><a href="/quienes">quienes</a></li>
                <li><a href="/servicios">servicios</a></li>
                <li><a href="/portafolios">portafolios</a></li>
                <li><a href="/sucursales">sucursales</a></li>
                <li><a href="/contacto">contacto</a></li>
            </ul>
        </nav>
    </header>
    <main class="home__main">
        <div class="home__main__section--banner">
            <img src="/img/img-banner.jpg" alt="banner">
        </div>
        <div class="home__main__section--products">
            <article class="home__main__section--product">
                <div class="home__main__section--product-box">
                    <img class="home__main__section--product--image" src="/img/img-pdto-1.jpg" alt="imagen-pdto-1">
                    <img class="home__main__section--product-sticker" src="/img/img-nuevo.png" alt="sticker-nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home__main__section--product-title">lorem ipsum amet</h4>
                <p class="home__main__section--product-descripcion">Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Dolore, tenetur enim rem unde est impedit
                    nostrum eveniet, nihil reprehenderit similique culpa sit odio? Architecto inventore ea porro. Ipsum,
                    architecto quae.</p>
                <a class="home__main_section--buton" href="">ver más</a>
            </article>
            <article class="home__main__section--product">
                <div class="home__main__section--product-box">
                    <img class="home__main__section--product--image" src="/img/img-pdto-2.jpg" alt="imagen-pdto-2">
                    <img class="home__main__section--product-sticker" src="/img/img-gratis.png" alt="sticker-gratis">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home__main__section--product-title">lorem ipsum amet</h4>
                <p class="home__main__section--product-descripcion">Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Dolore, tenetur enim rem unde est impedit
                    nostrum eveniet, nihil reprehenderit similique culpa sit odio? Architecto inventore ea porro. Ipsum,
                    architecto quae.</p>
                <a class="home__main_section--buton" href="">ver más</a>
            </article>
            <article class="home__main__section--product">
                <div class="home__main__section--product-box">
                    <img class="home__main__section--product--image" src="/img/img-pdto-3.jpg" alt="imagen-pdto-3">
                    <img class="home__main__section--product-sticker" src="/img/img-descuento.png"
                        alt="sticker-descuento">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home__main__section--product-title">lorem ipsum amet</h4>
                <p class="home__main__section--product-descripcion">Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Dolore, tenetur enim rem unde est impedit
                    nostrum eveniet, nihil reprehenderit similique culpa sit odio? Architecto inventore ea porro. Ipsum,
                    architecto quae.</p>
                <a class="home__main_section--buton" href="">ver más</a>
            </article>
            <article class="home__main__section--product">
                <div class="home__main__section--product-box">
                    <img class="home__main__section--product--image" src="/img/img-pdto-1.jpg" alt="imagen-pdto-1">
                    <img class="home__main__section--product-sticker" src="/img/img-nuevo.png" alt="sticker-nuevo">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home__main__section--product-title">lorem ipsum amet</h4>
                <p class="home__main__section--product-descripcion">Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Dolore, tenetur enim rem unde est impedit
                    nostrum eveniet, nihil reprehenderit similique culpa sit odio? Architecto inventore ea porro. Ipsum,
                    architecto quae.</p>
                <a class="home__main_section--buton" href="">ver más</a>
            </article>
            <article class="home__main__section--product">
                <div class="home__main__section--product-box">
                    <img class="home__main__section--product--image" src="/img/img-pdto-2.jpg" alt="imagen-pdto-2">
                    <img class="home__main__section--product-sticker" src="/img/img-gratis.png" alt="sticker-gratis">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home__main__section--product-title">lorem ipsum amet</h4>
                <p class="home__main__section--product-descripcion">Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Dolore, tenetur enim rem unde est impedit
                    nostrum eveniet, nihil reprehenderit similique culpa sit odio? Architecto inventore ea porro. Ipsum,
                    architecto quae.</p>
                <a class="home__main_section--buton" href="">ver más</a>
            </article>
            <article class="home__main__section--product">
                <div class="home__main__section--product-box">
                    <img class="home__main__section--product--image" src="/img/img-pdto-3.jpg" alt="imagen-pdto-3">
                    <img class="home__main__section--product-sticker" src="/img/img-descuento.png"
                        alt="sticker-descuento">
                    <a href="">AMPLIAR FOTO</a>
                </div>
                <h4 class="home__main__section--product-title">lorem ipsum amet</h4>
                <p class="home__main__section--product-descripcion">Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Dolore, tenetur enim rem unde est impedit
                    nostrum eveniet, nihil reprehenderit similique culpa sit odio? Architecto inventore ea porro. Ipsum,
                    architecto quae.</p>
                <a class="home__main_section--buton" href="">ver más</a>
            </article>
        </div>
    </main>
    <footer class="home__footer">
        <nav class="home__footer__nav--menu">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/quienes">quienes</a></li>
                <li><a href="/servicios">servicios</a></li>
                <li><a href="/portafolios">portafolios</a></li>
                <li><a href="/sucursales">sucursales</a></li>
                <li><a href="/contacto">contacto</a></li>

            </ul>
        </nav>
    </footer>


</body>

</html>